/SikhUnit.sln.DotSettings.user
/SikhUnit.v12.suo
/SikhUnit.BusinessLogic/bin
/SikhUnit.BusinessLogic/obj
/SikhUnit.BusinessLogic.IntegrationTests/bin
/SikhUnit.BusinessLogic.IntegrationTests/obj
/SikhUnit.Cache/bin
/SikhUnit.Cache/obj
/SikhUnit.Cache.UnitTests/bin
/SikhUnit.Cache.UnitTests/obj
/SikhUnit.Configuration/bin
/SikhUnit.Configuration/obj
/SikhUnit.DataAccess/bin
/SikhUnit.DataAccess/obj
/SikhUnit.DataAccess.UnitTests/bin
/SikhUnit.DataAccess.UnitTests/obj
/SikhUnit.Domain/bin
/SikhUnit.Domain/obj
/SikhUnit.Site/bin
/SikhUnit.Site/obj
/SikhUnit.Site.UnitTests/bin
/SikhUnit.Site.UnitTests/obj
/SikhUnit.Site/Files