@using SikhUnit.Configuration
@using SikhUnit.Site.Models

@model ImageListViewModel

@{
    ViewBag.Title = "Images";
}

@section scripts
{
    <script src="~/Scripts/jquery.excoloSlider.min.js"></script>
    <link href="~/Content/jquery.excoloSlider.css" rel="stylesheet">
    
    <script type="text/javascript">
        $(function () {
            $("#slider").excoloSlider();
        });
    </script>
}

<h2 class="title">Images</h2>

<div id="slider">
    @foreach (var image in Model.List)
    {
        string path = SiteConfiguration.BaseUrl + SiteConfiguration.ContentPath + SiteConfiguration.ImagesPath + image.Name;
        string url = new Uri(path).AbsoluteUri;

        <img class="image" src="@url" />
    }
</div>