@using SikhUnit.Configuration
@using SikhUnit.Site.Models

@model LiteratureListViewModel

@{
    ViewBag.Title = "Literature";
}

<h2 class="title">Literature</h2>

<ul>
    @foreach (var literature in Model.List)
    {
        string documentPath = SiteConfiguration.BaseUrl + SiteConfiguration.ContentPath + SiteConfiguration.LiteraturesPath + literature.Name;
        string documentUrl = new Uri(documentPath).AbsoluteUri;

        string imagePath = SiteConfiguration.BaseUrl + SiteConfiguration.ContentPath + SiteConfiguration.LiteraturesImagesPath + literature.ImageName;
        string imageUrl = new Uri(imagePath).AbsoluteUri;

        <li>
            <a href="@documentUrl" target="_blank">
                <img class="literature-image" src="@imageUrl" />
                @literature.DisplayName
            </a>
        </li>
    }
</ul>