@{
    ViewBag.Title = "Sikh Unit Official Website";
}

<div class="row">
    <div class="col-md-4">
        <img src="~/Files/Our Logos/logoblack.JPG" class="logo" />
    </div>
    <div class="col-md-4">
        <img src="~/Files/Other Files/Parental-Advisory.jpg" class="advisory" />
    </div>
    <div class="col-md-4">
        <img src="~/Files/Other Files/Khanda.jpg" class="logo2" />
    </div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <img src="~/Files/Our Logos/Sikh unit listen while you can.JPG" class="logo" />
    </div>
    <div class="col-md-4"></div>
</div>