@{
    ViewBag.Title = "Email Sent Confirmation";
}

<h2 class="title">Email Sent Confirmation</h2>

Your email was successfully sent to the Sikh Unit team.  If a reply is required we will endeavor to get back to at the earliest opportunity.